@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #e5e5e5;
  color: #172b4d;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  color: #172b4d;
  font-weight: 700;
  max-width: 300px;
  margin-bottom: 16px;
  margin-top: 68px;
  line-height: 52px;
}

p {
  font-size: 14px;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: #e5e5e5;
}

.content-container {
  width: 100%;
  height: fit-content;
  background-color: white;
  border-radius: 0 0 0 50px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: white;
}

.logo {
  flex: 3;
  color: #6070ff;
  text-align: left;
  margin-left: 25px;
  text-decoration: none;
  font-weight: bold;
}

.subcontent a {
  color: #6070ff;
  text-decoration: none;
}

header .logo a {
  color: #6070ff;
  transition-property: transform;
  transition-duration: 1000ms;
  transition-delay: 100ms;
  font-weight: bold;
}

.Union {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #6070ff;
}

.Union ul {
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  color: #6070ff;
  margin: 0;
  padding: 0;
  display: none;
}

.project-card li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03;
  color: #6070ff;
  background: #ebebff;
  margin-right: 5px;
  padding: 7px;
  list-style: none;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.Union ul li {
  list-style: none;
}

.Union ul li a {
  text-decoration: none;
}

.content {
  width: 100%;
  background-image: url(img/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-radius: 0 0 0 120px;
  height: 550px;
}

.subcontent {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  position: relative;
  left: 0%;
}

.subcontent .social-media {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.subcontent .social-media li {
  list-style: none;
  margin-right: 15px;
  margin-top: 10px;
}

h3 span {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  color: #7a869a;
}

.canopy-card {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 40px 0;
}

.snapshoot-portofolio {
  flex: 1;
}

.snapshoot-portofolio img {
  width: 100%;
  height: 100%;
}

.canopy-card-section {
  flex: 1;
  display: flex;
  background: #fff;
  height: 529px;
  width: 90%;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
  margin: 15px auto;
}

.project-card {
  width: 100%;
  margin: -5px auto;
}

.project-card li:hover {
  background-color: #8080ff;
}

.project-card ul {
  padding: 0;
  width: 100%;
}

button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 15px;
  padding: 10px 14px;
  border-radius: 10px;
  border: none;
  background-color: white;
}

.project-card button {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03;
  color: #396df2;
  border: 1px solid #396df2;
  padding: 7px 16px;
  margin: 16px auto;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  flex-wrap: wrap;
  transition-duration: 0.6s;
}

.project-card button:hover {
  color: white;
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.about {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0 120px 0 0;
}

.about .about-container {
  width: 85%;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  border-radius: 0 25px 0 0;
}

.about .about-container ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.about .about-container a {
  color: #6070ff;
}

.btn-resume {
  border: 1px solid #396df2;
  padding: 7px 10px;
  font-size: 14px;
}

.about .about-container .btn-resume:hover {
  border: 1px solid white;
  background-color: #396df2;
  color: white;
  cursor: pointer;
}

.about .about-container .tool button {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  border-radius: 0;
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: space-between;
}

.about .about-container .tool .language-button {
  border: 0;
}

.about .tool ul.languages {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about .about-container ul li {
  list-style: none;
  margin-right: 10px;
  margin-top: 10px;
}

.about .tool ul.languages li {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  background-color: #ebebff;
  border-radius: 5px;
}

.about .tool ul.languages li a {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #344563;
  padding: 10px 20px;
}

.about .tool ul.languages li span {
  flex: 1;
  margin-left: 10px;
}

.about .tool ul.languages li a i {
  margin-right: 10px;
  font-size: 19px;
}

.my-skills img {
  margin-left: 34px;
}

.get {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.03;
  color: #396df2;
  border: 1px solid #396df2;
  padding: 10px 21px;
  margin-top: 12px;
  margin-left: 12px;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  flex-wrap: wrap;
  transition-duration: 0.5s;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  background-color: white;
}

.contact {
  width: 100%;
  height: 779px;
  background-image: url(img/footer_background_shaps_mobile.png);
  background-repeat: no-repeat;
  background-size: calc(100%);
  background-color: #6070ff;
  border-radius: 120px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.contact .contact-container {
  width: 80%;
  height: fit-content;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  border: none;
  outline: none;
  color: #172b4d;
  font-size: 16px;
  font-family: 'poppins', sans-serif;
  padding: 17px;
  width: 100%;
  margin: 10px 0;
}

input {
  height: 18px;
}

textarea {
  height: 120px;
}

.btn {
  font-size: 15px;
  font-weight: 500, bold;
  line-height: 24px;
  letter-spacing: 0;
  font-family: 'Poppins', sans-serif;
  color: #396df2;
  cursor: pointer;
  margin-bottom: 30px;
  padding-bottom: 12px;
  text-align: left;
}

.btn :hover {
  color: #fff;
  background: #6070ff;
  border: 1px solid #fff;
}

@media all and (min-width: 768px) {
  .Union ul {
    flex: 1;
    display: flex;
    justify-content: space-around;
  }

  .logo {
    flex: 2;
  }

  .Union li a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .Union i.fa-list-squares {
    display: none;
  }

  /* /////////////SUBCONTENT///////////// */
  .content {
    width: 100%;
    background-image: url(img/header_background_shapes.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border-radius: 0 0 0 120px;
    height: 550px;
  }

  .subcontent {
    width: 65%;
    position: relative;
    top: 10%;
    left: 10%;
  }

  /* /////////////SUBCONTENT///////////// */

  .mycanopy-section {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
  }

  .order-1:nth-child(1) {
    order: 1;
  }

  .order-2:nth-child(1) {
    order: 2;
  }

  /* //////////////ABOUT ME///////////////// */
  .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .about-me {
    flex: 1;
    padding-right: 50px;
  }

  .about .about-container {
    width: 85%;
    height: fit-content;
    background-color: white;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 50px;
    border-radius: 0 25px 0 0;
  }

  .about .about-container .tool .languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .about .about-container .tool .languages li {
    width: 100%;
    height: 100px;
  }

  .tool {
    flex: 1;
  }

  /* /////////////////CONTACT ME///////////////// */
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .contact {
    width: 100%;
    height: fit-content;
    background-image: url(img/footer_background_shapes.png);
    background-repeat: no-repeat;
    background-size: calc(100% - 30px);
    background-color: #6070ff;
    border-radius: 120px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }

  .contact .contact-container p {
    width: 50%;
    padding: 10px;
    margin: 10px;
  }

  .contact-container .btn {
    text-align: center;
    margin: 0;
  }

  .contact-container .btn button {
    margin: 10px 0;
  }
}

@media all and (min-width: 1024px) {
  .Union ul {
    flex: 1;
    display: flex;
    justify-content: space-around;
  }

  .logo {
    flex: 2;
  }

  .Union i.fa-list-squares {
    display: none;
  }

  /* /////////////SUBCONTENT///////////// */
  .subcontent {
    width: 65%;
    position: relative;
    top: 10%;
    left: 10%;
  }

  /* /////////////SUBCONTENT///////////// */

  .mycanopy-section {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
  }

  .order-1:nth-child(1) {
    order: 1;
  }

  .order-2:nth-child(1) {
    order: 2;
  }

  /* //////////////ABOUT ME///////////////// */
  .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .about-me {
    flex: 1;
    padding-right: 50px;
  }

  .tool {
    flex: 1;
  }

  .tool .languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* /////////////////CONTACT ME///////////////// */
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .contact-container .btn {
    text-align: center;
    margin: 0;
  }

  .contact-container .btn button {
    margin: 10px 0;
  }
}

@media all and (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }

  header {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 50px;
    background: white;
  }

  .logo {
    color: #6070ff;
    text-align: left;
    margin-left: 150px;
    text-decoration: none;
    font-weight: bold;
  }

  .Union ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .Union ul li {
    margin: 0 15px;
  }

  .subcontent a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .Union ul li a {
    color: #344563;
    font-weight: bold;
  }

  .Union i.fa-list-squares {
    display: none;
  }

  /* /////////////SUBCONTENT///////////// */
  .content {
    width: 100%;
    height: 916px;
    background-image: url(img/header_background_shapes.png);
    background-repeat: no-repeat;
    background-size: calc(100% - 30px);
    background-color: white;
    border-radius: 0 0 0 120px;
  }

  .subcontent {
    width: 920px;
    height: 122px;
    position: relative;
    top: 35%;
    left: 20%;
  }

  .subcontent h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
  }

  p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .subcontent p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  /* /////////////SUBCONTENT///////////// */
  .canopy-card-section {
    flex: 1;
    display: flex;
    background: #fff;
    width: 80%;
    height: fit-content;
    border-radius: 16px;
    padding: 25px 25px;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
    margin: 65px auto;
  }

  .mycanopy-section {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
  }

  .mycanopy-section .snapshoot-portofolio {
    width: 544px;
    height: 448px;
  }

  .mycanopy-section .project-card {
    width: 544px;
    height: 448px;
  }

  h2,
  .mycanopy-section .project-card h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  h3,
  .mycanopy-section .project-card h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .mycanopy-section .project-card p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .tool .languages li {
    flex: 1;
    border-radius: 15px;
  }

  .mycanopy-section .project-card ul li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .order-1:nth-child(1) {
    order: 1;
  }

  .order-2:nth-child(1) {
    order: 2;
  }

  /* //////////////ABOUT ME///////////////// */
  .about-container {
    display: flex;
    flex-direction: row !important;
    align-items: center;
  }

  .about-me {
    flex: 1;
    padding-right: 50px;
  }

  .tool {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .tool button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin: 10px;
  }

  .tool .languages {
    flex: 1;
    display: grid !important;
    grid-template-columns: auto auto auto;
    justify-content: flex-start !important;
    align-items: flex-start;
    column-gap: 10px;
  }

  .tool .languages li a {
    flex: 1;
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: flex-start !important;
  }

  .tool .languages li a img {
    flex: 1;
  }

  .tool .languages li a span {
    flex: 1;
  }

  /* /////////////////CONTACT ME///////////////// */
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .contact {
    width: 1440px;
    height: 846px;
    background-image: url(img/footer_background_shapes.png);
    background-repeat: no-repeat;
    background-size: calc(100% - 30px);
    background-color: #6070ff;
    border-radius: 120px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }

  .contact-container .btn {
    text-align: center;
    margin: 0;
  }

  .contact-container .btn button {
    margin: 10px 0;
  }

  .contact .contact-container p {
    width: 45%;
    padding: 10px;
    margin: 10px;
  }
}
