@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,900;1,400&display=swap');

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #6070ff;
  position: relative;
  text-decoration: none;
}

.navlist {
  border: 3px;
}

.mainContent {
  background-image: url(img/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  border-bottom-left-radius: 100px;
  height: 100vh;
}

.Content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  color: #172b4d;
  font-weight: 700;
  max-width: 300px;
  margin-bottom: 16px;
  margin-top: 68px;
  line-height: 52px;
}

h4 {
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  color: #7f8cff;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-right: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #172b4d;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  padding: 20px 0;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  color: #172b4d;
}

h3 {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  color: #344563;
}

h3 span {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  color: #7a867a;
}

h5 {
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0;
  color: #172b4d;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 30px auto;
  gap: 0;
}

.canopy-card {
  background: #f7f7f9;
  padding: 20px 0;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 2rem;
}

.snapshoot-portfolio {
  width: 100%;
  margin: 0 auto;
}

.canopy-card-section {
  display: flex;
  background: #fff;
  height: 529px;
  width: 300px;
  left: 24px;
  top: 754px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  flex-direction: column;
  border: 1px solid #dfe1ed;
  margin: 15px auto;
}

.canopy-second-card-section {
  background: #fff;
  height: 563px;
  width: 300px;
  left: 24px;
  top: 754px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  border: 1px solid #dfe1ed;
  margin: 15px auto;
}

.canopy-third-card-section {
  background: #fff;
  height: 519px;
  width: 300px;
  left: 24px;
  top: 754px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  border: 1px solid #dfe1ed;
  margin: 15px auto;
}

.canopy-fourth-card-section {
  background: #fff;
  height: 519px;
  width: 327px;
  left: 24px;
  top: 754px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  border: 1px solid #dfe1ed;
  margin: 15px auto;
}

.project-card {
  width: 100%;
  margin: -5px auto;
}

.project-card p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #344563;
}

.project-card li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03;
  color: #6070ff;
  background: #ebebff;
  margin-right: 5px;
  padding: 7px;
  list-style: none;
  border-radius: 8px;
}

.project-card li:hover {
  background-color: #8080ff;
}

.project-card ul {
  padding: 0;
  width: 300px;
}

.project-card button {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03;
  color: #396df2;
  border: 1px solid #396df2;
  padding: 7px 16px;
  margin: 16px auto;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  transition-duration: 0.6s;
}

.project-card button:hover {
  color: white;
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.skill p {
  width: 330px;
  height: 144px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.languages-skills img {
  height: 72px;
  width: 327px;
  left: 0;
  top: 0;
  margin-left: 20px;
}

.my-skill {
  display: flex;
  flex-direction: column;
}

.aboutMyself {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  gap: 12px;
}

.aboutHead {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.social_media {
  display: flex;
}

.getBtn {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.03;
  color: #396df2;
  border: 1px solid #396df2;
  padding: 10px 21px;
  margin-top: 12px;
  margin-left: 12px;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  flex-wrap: wrap;
  transition-duration: 0.5s;
}

.getBtn:hover {
  background-color: #8080ff;
  color: #ebebff;
}

.languages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills {
  background-color: #fff;
  border-top-right-radius: 100px;
  padding: 50px 0 100px;
}

h6 {
  font-size: 35px;
  font-weight: 500, bold;
  line-height: 52px;
  letter-spacing: 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 100px 50px auto;
  padding-left: 20px;
}

.contact {
  height: 765px;
  width: 375px;
  background: url(img/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  border-top-left-radius: 80px;
  background-color: #6070ff;
  margin-top: 100px;
}

.contact p {
  font-size: 19px;
  font-weight: 400, bold;
  line-height: 27px;
  letter-spacing: 0;
  color: #ebebff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 312px;
  margin: 17px auto;
  padding-left: 10px;
}

form {
  margin: 0;
  padding: 0;
}

input,
textarea {
  width: 275px;
  left: 0;
  top: 0;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #172b4d;
  margin: 16px 24px auto;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
  padding: 17px;
  flex: 1.5;
}

input {
  height: 18px;
}

textarea {
  height: 150px;
}

.but {
  font-size: 15px;
  font-weight: 500, bold;
  line-height: 24px;
  letter-spacing: 0;
  font-family: 'Poppins', sans-serif;
  color: #396df2;
  margin-left: 24px;
  cursor: pointer;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding-bottom: 30px;
  display: flex;

}

.but:hover{
  color: #fff;
  background: #6070ff;
}
